.git
.gitlab
.mypy_cache
.pytest_cache
.ruff_cache
.semgrep
.venv
__pycache__
*.py[cod]
*.log
.coverage
coverage.xml
htmlcov
database/*.db
database/*.sqlite*
face_data/*.jpg
face_data/*.jpeg
face_data/*.png
reports/*.csv

